<!-- Loop over each object in the projects array -->
<div class="columns">
  <div class="column is-one-fifth has-text-left">
    <div class="side-nav">
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a>Users</a></li>
        <li><a>Recent Posts</a></li>
        <li><a>Posts by Tags</a></li>
        <li><a>Top Posts</a></li>
      </ul>
    </div>
  </div>
  <div class="column is-four-fifths">
    {{#each posts as |post| }}
    {{>posts post}}
    {{/each}}
  </div>
</div>
{{!-- {{#each projects as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->

      <a href="/post/{{post.id}}">{{post.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount post.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.content}}
    </p>
  </div>
</div>
{{/each}} --}}